[Unit]
Description=Connect to VPN
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash -c '\
if wg show; then \
    wg-quick down wg; \
fi; \
ln -sf "$(ls /etc/wireguard/configs/*.conf | shuf -n 1)" /etc/wireguard/wg.conf; \
wg-quick up wg; \
'

[Install]
WantedBy=multi-user.target
