[user]
	email = 231135227+zenixarkus@users.noreply.github.com
	name = zenixark
	signingkey = 77BEC29FC2589D10
[commit]
	gpgSign = true
[core]
	pager = cat
	editor = nvim
[color]
	ui = always
[credential]
	helper = store --file=/tmp/git-credentials
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[alias]
	d = diff --cached
	l = log --oneline --graph --decorate --all
	c = commit
	a = add .
	p = push -u origin main
	s = status
	pf = push --force -u origin main
	ad = commit --amend --no-edit
	gcc = gc --prune=now --aggressive
[init]
	defaultBranch = main
